Shopping ChatBot NodeRed.json
[{"id":"42c879fc.ee1538","type":"tab","label":"MyChatBot","disabled":false,"info":""},{"id":"5733aa51.961174","type":"http in","z":"42c879fc.ee1538","name":"","url":"/chat","method":"get","upload":false,"swaggerDoc":"","x":160,"y":180,"wires":[["1ecc0c9f.4d76a3"]]},{"id":"1ecc0c9f.4d76a3","type":"template","z":"42c879fc.ee1538","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<head>\n    <script>\n        window.watsonAssistantChatOptions = {\n            integrationID: \"c5677e75-2ff8-4a1f-b741-eecc587e2b44\", // The ID of this integration.\n            region: \"eu-gb\", // The region your integration is hosted in.\n            serviceInstanceID: \"5c569d8f-7cd5-4914-9989-98e051ef3933\", // The ID of your service instance.\n            onLoad: function (instance) { instance.render(); }\n        };\n        setTimeout(function () {\n            const t = document.createElement('script');\n            t.src = \"https://web-chat.global.assistant.watson.appdomain.cloud/loadWatsonAssistantChat.js\";\n            document.head.appendChild(t);\n        });\n    </script>\n</head>\n<body>\n    <table>\n        <tr>\n            <td colspan=1>\n                <img src='https://i.ibb.co/Cnk7FV7/3.jpg' height=200></img>\n            </td>\n            <td>\n                <img src='https://i.ibb.co/2tKbkZz/2.jpg' height=100></img>\n            </td>\n            \n        </tr>\n        <tr bgcolor='blue'>\n            <td width='50%' height=2 colspan=2 style=\"text-align: justify;\"><h1 style=\"color:White;\"> Welcome to Elena suppliers!</td>\n            <td width='50%'></td>\n        </tr>\n        <tr>\n            <td style=\"text-align: justify;\"><h2 style=\"color:Blue;\">Today, because of COVID issues it can be risky to shop for essential items in person. So come shop here for essentials during this pandemic from the comfort of your home!</h2>\n            <b>This project helps with this issue by giving people an online option to shop for essentials. With the help of Watson assistant, a chatbot is built. <br>\n            This chat should have the following capabilities:<br>\n            1)Give the list of items in the Store<br>\n            2)Should show the  prices of vegetables<br>\n            3)Display if there are any offers or discounts<br>\n            4)The bot is be able to take details like name, contact number, address, and the items to place the order.<br>\n            </td>\n            <td width='50%'></td>\n        </tr>\n        <tr> <td height='10%' width='50%'><br></td> <td></td></tr>\n        <tr> <td height='10%'><br><br><br></td> <td></td></tr>\n        \n        \n        <tr>\n            <td style=\"text-align: justify;\"><h4 style=\"color:Green;\">\nCONTACT US:<br>\nWhatsApp us : 70001 70011 <br>\n\nCall Us : 1800 890 1222 <br>\n8:00 AM to 8:00 PM, 365 days <br>\n\nPlease note that you are accessing the BETA Version of www.elenamart.com\n\nShould you encounter any bugs, glitches, lack of functionality, delayed deliveries, billing errors or other problems on the beta website, please email us on cs@elenamart.com\n\nDOWNLOAD APP\nDownload Elenamart App for Android from Play Store Download Elenamart App for iOs from App Store\n\n</td>\n            <td></td>\n        </tr>        \n\n    </table>\n    \n\n    \n</h3>\n</h1>\n</body>","x":370,"y":180,"wires":[["a026cdd4.1278f"]]},{"id":"a026cdd4.1278f","type":"http response","z":"42c879fc.ee1538","name":"","statusCode":"","headers":{},"x":610,"y":180,"wires":[]}]